/* src/App.css */
@font-face {
  font-family: Ubuntu;
  src: url("../public/fonts/Ubuntu-Regular.ttf") format("truetype");
}

body {
  font-family: Ubuntu, sans-serif;
  background-color: #2d3436;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.App {
  background-color: #636e72;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #dfe6e9;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: right;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  color: #2d3436;
  flex: 1 0 21%; /* Dostosowuje szerokość przycisków */
  padding: 15px;
  margin: 5px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: #b2bec3; /* Szary kolor dla wszystkich przycisków */
  color: 2a2a2a;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a0abb0; /* Ciemniejszy szary przy najechaniu */
}

button:active {
  background-color: #8e989c; /* Jeszcze ciemniejszy szary przy naciśnięciu */
}

button.buttonEqual {
  color: white;
  background: linear-gradient(
    45deg,
    #fdcb6e,
    #e17055
  ); /* Fioletowo-pomarańczowy gradient */
}

button.buttonEqual:hover {
  background: linear-gradient(
    45deg,
    #e4b763,
    #cb654d
  ); /* Ciemniejszy gradient przy najechaniu */
}

button.buttonEqual:active {
  background: linear-gradient(
    45deg,
    #caa258,
    #b45a44
  ); /* Ciemniejszy gradient przy najechaniu */
}

.wynik {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fdcb6e; /* Przykładowe formatowanie */
}

.display {
  background-color: #b2bec3;
  border: none;
  color: #2d3436;
}
