/* src/App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
}

h1 {
  text-align: center;
  font-size: 24px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: right;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  flex: 1 0 21%; /* Dostosowuje szerokość przycisków */
  padding: 15px;
  margin: 5px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: #ccc; /* Szary kolor dla wszystkich przycisków */
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #bbb; /* Ciemniejszy szary przy najechaniu */
}

button:active {
  background-color: #aaa; /* Jeszcze ciemniejszy szary przy naciśnięciu */
}

button.buttonEqual {
  color: white;
  background: linear-gradient(
    45deg,
    #a65e2e,
    #6b2a91
  ); /* Fioletowo-pomarańczowy gradient */
}

button.buttonEqual:hover {
  background: linear-gradient(
    45deg,
    #954c2a,
    #5b1c73
  ); /* Ciemniejszy gradient przy najechaniu */
}

.wynik {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: blue; /* Przykładowe formatowanie */
}
